RaspberryPi/flows/Playbulb-RaspPi-SenseHat.json
[
    {
        "id": "85ccc7bd.962c68",
        "type": "tab",
        "label": "Sensehat Joystick",
        "disabled": true,
        "info": ""
    },
    {
        "id": "88f76575.e407b8",
        "type": "rpi-sensehat in",
        "z": "85ccc7bd.962c68",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 80,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d980249e.8232c8",
        "type": "function",
        "z": "85ccc7bd.962c68",
        "name": "Plot Temp in F",
        "func": "//msg.payload = msg.payload.temperature;\n// The SenseHat pressure / humidity \n// could be extracted using a function node\n// msg = { payload : msg.payload.pressure };\n// msg = { payload : msg.payload.humidity };\n// but the split/switch nodes are clever.\nvar tempc = msg.payload;\ntempf = tempc * 9/5 + 32;\ntempf = Math.round(tempf * 10) / 10;\nmsg.payload = tempf;\nglobal.set(\"tempF\",tempf);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "9e9313f.fd40ff"
            ]
        ]
    },
    {
        "id": "4d346a3.787f194",
        "type": "delay",
        "z": "85ccc7bd.962c68",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "3872ee98.7d4262",
                "b0d3e86b.c283a"
            ]
        ]
    },
    {
        "id": "9e9313f.fd40ff",
        "type": "ui_chart",
        "z": "85ccc7bd.962c68",
        "name": "",
        "group": "fed7fa26.540e38",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1010,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3872ee98.7d4262",
        "type": "wiotp out",
        "z": "85ccc7bd.962c68",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "walicki-sensehat",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "name": "WIoTP Quickstart Sensehat",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "ea4094d.64f36e8",
        "type": "ui_chart",
        "z": "85ccc7bd.962c68",
        "name": "",
        "group": "fed7fa26.540e38",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 800,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "683faca.36158d4",
        "type": "ui_gauge",
        "z": "85ccc7bd.962c68",
        "name": "",
        "group": "fed7fa26.540e38",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Barometric Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "1000",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "11e0db2c.b1d445",
        "type": "wiotp out",
        "z": "85ccc7bd.962c68",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "f64f08fc.944218",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "WIoTP Registered Sensehat",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "9e04222d.44905",
        "type": "rpi-sensehat in",
        "z": "85ccc7bd.962c68",
        "name": "",
        "motion": false,
        "env": false,
        "stick": true,
        "x": 80,
        "y": 420,
        "wires": [
            [
                "68485507.2e5054"
            ]
        ]
    },
    {
        "id": "b7e33562.637178",
        "type": "debug",
        "z": "85ccc7bd.962c68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "68485507.2e5054",
        "type": "delay",
        "z": "85ccc7bd.962c68",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "b7e33562.637178"
            ]
        ]
    },
    {
        "id": "b0d3e86b.c283a",
        "type": "split",
        "z": "85ccc7bd.962c68",
        "name": "",
        "splt": "\\n",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "98aa1f16.87dd6",
                "d82ca2b.cda83e"
            ]
        ]
    },
    {
        "id": "98aa1f16.87dd6",
        "type": "debug",
        "z": "85ccc7bd.962c68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "d82ca2b.cda83e",
        "type": "switch",
        "z": "85ccc7bd.962c68",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "d980249e.8232c8"
            ],
            [
                "ea4094d.64f36e8"
            ],
            [
                "683faca.36158d4"
            ]
        ]
    },
    {
        "id": "5c71524d.11370c",
        "type": "comment",
        "z": "85ccc7bd.962c68",
        "name": "Send Joystick events to Bluemix/Twilio",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "fed7fa26.540e38",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "189668e8.eaf69f",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f64f08fc.944218",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "5yrusp",
        "serverName": "",
        "devType": "SenseHat",
        "devId": "RasPi-Sensehat",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "189668e8.eaf69f",
        "type": "ui_tab",
        "z": "",
        "name": "SenseHat",
        "icon": "dashboard",
        "order": 5
    }
]
